<!DOCTYPE html>
<html>
	<head>
		<title> Team 13 - ADMINISTRATION PAGE </title>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	 	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		{{{body}}}
	</body>
</html>

<style>
body{
	/*border: 1px solid red;*/
	height: 100%;
	margin: 0;
}
.header {
	width: 100%;
	background-color: #138D75;
	padding:8px;
	/*line-height: 150px;*/

}

.body {
	display: inline;
}

.menubar {
  /**border-color: black;*/
  height: 100%;
  background-color: powderblue;
  width: 20%;
  padding: 2% 0 1.75% 0;
  float: left;
}

.menulist li{
	border: 0.6px solid deepskyblue;
	width: 90%;
	padding: 8%;
	margin: 16% 0% 17% -8%;
	background: ivory;
	text-align: center;
	font-weight: bold;
	font-family: helvetica;
	font-size: 110%;
}

.menulist a li{
	color: #4CA6A6;
}
a:hover{
	text-decoration: none;
}
.menulist li:hover{
	background: khaki;
}

.admincontents {
	/*border: 1px solid cyan;*/
	
}

.tools{
	background: mediumaquamarine;
	padding: 0.3%;
}

.tools input{
	margin-left: .5%;
	width: 25%;
}
.tools ul li{
	list-style: none;
}
.maincontents

</style>