<!DOCTYPE HTML>
<html lang="en">
<head>
		<title>Team 13 - ADMINISTRATION PAGE</title>
		<meta charset="utf-8">
 		 <meta name="viewport" content="width=device-width, initial-scale=1">
 		 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
</head>
<body>

	<div class="menubar">
		<div class="logopic"></div>
		<div class="menulist">
			<ul>
				<li><a href="">Add/Update Product</a></li>
				<li><a href="">Brand List</a></li>
				<li><a href="">Category List</a></li>
				<li><a href="">Order List</a></li>
				<li><a href="">Customer List</a></li>
			</ul>
		</div>
	</div>
	<div class="admincontents">
		
	</div>

</body>