<!DOCTYPE HTML>
<html lang="en">
<head>
		<title>Team 13 - ADMINISTRATION PAGE</title>
		<meta charset="utf-8">
 		 <meta name="viewport" content="width=device-width, initial-scale=1">
 		 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		
</head>
<body>
	<div class="header">
		<div class="logopic">
			<a href="/"><img src="https://scontent.fmnl4-5.fna.fbcdn.net/v/t1.15752-9/40139954_230113000997347_3873425618926305280_n.png?_nc_cat=0&_nc_eui2=AeEPfLkDsNxUhX908FgUVs17TKadEfczn0I1dq1-QGsCv_hmjNO1p6hAIWs6tixwUPMLq07bNgEpH8RWbpLB6eSwp0zsVnNcG5SnnzP80gphFg&oh=339ee1c60c8414cb7a7ff2f1439a4571&oe=5C036EFF" alt="logo" width="8%" align="left" style="margin: -20px 10px 0 0"></a><h3 style="color: #f8f8ff; border-spacing: 60px">ADMIN PAGE</h3>
		</div>
		
	</div>
	<div class="body">
		<div class="menubar" style="height: 300%;">
		<br>	
			<div class="menulist">
				<ul style="list-style: none">
					<a href="/admin/product"><li>Add/Update Product</li></a>
					<a href="/admin/brand"><li>Brand List</li></a>
					<a href="/admin/categories"><li style="background: khaki;">Category List</li></a>
					<a href="/admin/orders"><li>Order List</li></a>
					<a href="/admin/customers"><li>Customer List</li></a>
				</ul>
			</div>
		</div>
		<div class="admincontents">
			<div class="tools">
				<ul>
					<li><input type="text" id="search" placeholder="Search"></li>
					<li><a>Sort</a></li>
						<ul>
							<li><a href="/">Ascending</a></li>
							<li><a href="/">Descending</a></li>
						</ul>
					<li><a>Filter</a></li>
						<ul>
							<li><a href="/">Brands</a></li>
							<li><a href="/">Category</a></li>
						</ul>
				</ul>
			</div>
		</div>
	</div>

</body>
