<!DOCTYPE html>
<html lang="en">
<head>
		<title>Team 13</title>
		<meta charset="utf-8">
 		 <meta name="viewport" content="width=device-width, initial-scale=1">
 		 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
</head>
<body>
	<div class="header">
		<a href="/">
    <img src="https://scontent.fmnl4-5.fna.fbcdn.net/v/t1.15752-9/40139954_230113000997347_3873425618926305280_n.png?_nc_cat=0&_nc_eui2=AeEPfLkDsNxUhX908FgUVs17TKadEfczn0I1dq1-QGsCv_hmjNO1p6hAIWs6tixwUPMLq07bNgEpH8RWbpLB6eSwp0zsVnNcG5SnnzP80gphFg&oh=339ee1c60c8414cb7a7ff2f1439a4571&oe=5C036EFF" alt="logo" width="130" height="75" align="left"></a><h1> Team 13 module</h1>
  
  <div class="menu" id="mymenu">
  <ul>
 <br> <li><a href="/">Home</a></li>
  <li><a href="/admin/product">Admin</a></li>
  <li><a>Module 3</a>
    <ul>
    <li><a href="/orders/list">Orders</a></li>
    <li><a href="/customers-list">Customers</a></li>
    </ul>
  </li>
  <li><a>Create</a>
    <ul>
  <li><a href="/brands/create">Create Brand</a></li>
  <li><a href="/category/create">Create Category</a></li>
  <li><a href="/products/create">Create Product</a></li>
  </ul>
    <li><a>Updates</a>
    <ul>
  <li><a href="/brands">Brands</a></li>
  <li><a href="/categories">Categories</a></li>
  </ul>
    </ul> </li>
</div>
</div>
<br>
  <div id="text3">
  <fieldset>
    <h1> Create New Brand </h1>
      
      <form action="" method="POST">

        <label for="brandname">Brand Name &#42;</label>
        <input id="brandname" name="brandname" type="text" placeholder="Enter Brand Name" required="required">
        <br>
        <label for="description">Description &#42;</label>
        <textarea id="description" name="description" placeholder="Enter Brand Description" rows="3" required="required"></textarea>
        
        <button type="submit">Create Brand</button>
      </form>
      
  </fieldset>
<br>

</body>
</html>