<!DOCTYPE html>
<html lang="en">
<head>
		<title>Team 13</title>
		<meta charset="utf-8">
 		 <meta name="viewport" content="width=device-width, initial-scale=1">
 		 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
</head>
<body>
	<div class="header">
		<h1>T13 "Online Shop"</h1> 
		<div class="topnav">
  <p><a class="active" href="/list">Home</a></p>
  <p><a  href="/about1">About</a></p>
  <p><a  href="/contact">Contact</a></p>
  <p><a href="/brands/create">Brand</a></p>
  <p><a href="/category/create">Category</a></p>
  <p><a href="/products/create">Products</a></p>

</div>
</div>
    <table align="center">
  <tr>
    <th>Number   </th>
    <th>Category Name:    </th>
 
  </tr>
  <tr>
    {{#rows}}
    <td>{{id}}   </td>
    <td>{{category_name}}   </td>
    {{/rows}}
    <tr>  
</table>

</div>

</body>
</html