<!DOCTYPE html>
<html lang="en">
<head>
		<title>Team 13</title>
		<meta charset="utf-8">
 		 <meta name="viewport" content="width=device-width, initial-scale=1">
 		 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
</head>
<body>
	<div class="header">
		<h1>T13 "Online Shop"</h1> 
  
  <div class="menu" id="mymenu">
  <ul>
 <br> <li><a href="/">Home</a></li>
  <li><a href="/about1">About</a></li>
  <li><a>Module 3</a>
    <ul>
    <li><a href="/orders/list">Orders</a></li>
    <li><a href="/customers/list">Customers</a></li>
    </ul>
  </li>
  <li><a>Create</a>
    <ul>
  <li><a href="/brands/create">Create Brand</a></li>
  <li><a href="/category/create">Create Category</a></li>
  <li><a href="/products/create">Create Product</a></li>
  </ul>
    <li><a>Updates</a>
    <ul>
  <li><a href="/brands">Brands</a></li>
  <li><a href="/categories">Categories</a></li>
  </ul>
    </ul> </li>
</div>
</div>
<br>
<br>
  <div id="text3">
  <fieldset>
    <h1>Order Form </h1>
      
      <form action="" method="POST">

        <label for="fname">First Name &#42;</label>
        <input id="fname" name="fname" type="text" placeholder="Enter First Name" required="required">
<br>
        <label for="lname">Last Name &#42;</label>
        <input id="lname" name="lname" type="text" placeholder="Enter Last name" required="required">
<br>
        <label for="email">Email &#42;</label>
        <input id="email" name="email" type="text" placeholder="123@abc.com" required="required">
<br>
        <label for="description">Street &#42;</label>
        <input id="street" name="street" type="text" placeholder=" " required="required">
<br>
        <label for="municipality">Municipality &#42;</label>
        <input id="municipality" name="municipality" type="text" placeholder=" " required="required">
<br>    
        <label for="province">Province &#42;</label>
        <input id="province" name="province" type="text" placeholder=" " required="required">
<br>
         <label for="zipcode">Zipcode &#42;</label>
        <input id="zipcode" name="zipcode" type="text" placeholder="Enter zipcode" required="required">
<br>
        <label for="quantity">Quantity &#42;</label>
        <input id="quantity" name="quantity" type="text" placeholder="Enter product quantity" required="required">
<br>
        <button type="submit">Submit Order</button>
      </form>
      
  </fieldset>
<br>
  </div>

</body>
</html>