<!DOCTYPE html>
<html lang="en">
<head>
		<title>Team 13</title>
		<meta charset="utf-8">
 		 <meta name="viewport" content="width=device-width, initial-scale=1">
 		 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
</head>
<body>
	<div class="header">
		<h1>T13 "Online Shop"</h1> 
  </div>
<div class="navbar">
  <a href="/">Home</a>
  <a href="/about1">About</a>
  <a href="/contact">Contact</a>
  <div class="dropdown">
    <button class="dropbtn">Create 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/brands/create">Create Brand</a>
      <a href="/category/create">Create Category</a>
      <a href="/products/create">Create Product</a>
    </div>
  </div> 
</div>
<br>
  <div class="form"> 

    <br><h2>Order Form</h2>
    <form action="/order" method="post" role="form">
         <div class="form-group">
             <p> <label for="email">Email address:</label> </p>
              <input type="email" class="form-control" name="Email" placeholder="abc123@email.com">
         </div> <br>
         <div class="form-group">
            <label for="CustomerName">Customer Name: </label>
            <input type="text" class="form-control" name="CustomerName" placeholder="First and Last name here">
       </div>

        <div class="form-group">
          <label for="Phone">Phone Number: </label>
          <input type="number" class="form-control" name="Phone" placeholder="Your phone number">
        </div>

       <div class="form-group">
        <label for="exampleFormControlSelect1">Order Quantity: </label>
        <select class="form-control" name="exampleFormControlSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
  
   <div class="form-group">
            <label for="Productid">Product ID: </label>
            <input type="text" class="form-control" name="ProductID" placeholder="Enter product ID here">
       </div>
   <button type="submit">Submit Form</button>
  </div> <br>
</form>
  </div>