<!DOCTYPE html>
<html lang="en">
<head>
		<title>Team 13</title>
		<meta charset="utf-8">
 		 <meta name="viewport" content="width=device-width, initial-scale=1">
 		 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
</head>
<body>
<div class="header">
		<h1>T13 "Online Shop"</h1>
	
	<div class="menu" id="mymenu">
	<ul>
 <br> <li><a href="/">Home</a></li>
  <li><a href="/about1">About</a></li>
  <li><a>Module 3</a>
  	<ul>
  	<li><a href="/orders/list">Orders</a></li>
  	<li><a href="/customers/list">Customers</a></li>
  	</ul>
  </li>
  <li><a>Create</a>
  	<ul>
  <li><a href="/brands/create">Create Brand</a></li>
  <li><a href="/category/create">Create Category</a></li>
  <li><a href="/products/create">Create Product</a></li>
	</ul>
    <li><a>Updates</a>
  	<ul>
  <li><a href="/brands">Brands</a></li>
  <li><a href="/categories">Categories</a></li>
	</ul>
    </ul> </li>
</div>
</div>
<br>

<div id="text3">
<fieldset>

	<form action="" method="POST">
		<div id="title1">
			<h4>Add Products:</h4> 
		</div>
	
	<table class="inventory">
		<tr>
			<td width="150px"><label>Upload Photo</label></td>
			<td width="400px"><input type="text" name="images" placeholder="Enter product photo link" required>
			</td>
		</tr>
				
		<tr>
			<td width="130px"><label>Product Name:</label></td>
			<td width="250px"><input type="text" name="name" title="Enter product name" placeholder="Enter product name" required>
			</td>
		</tr>

		<tr>
			<td width="130px"><label>Price:</label></td>
			<td width="250px"><input type="number" name="price" title="Enter product price" placeholder="Enter product price" required>
			</td>
		</tr>

		<tr>
			<td width="130px"><label>Warranty: </label></td>
			<td width="250px"><input type="number" name="warranty" title="Enter warranty in years" placeholder="Enter warranty in years" required>
			</td>
		</tr>
		
		<tr>
			<td width="130px"><label>Category:</label></td>
			<td> <select name="prodcat">
				<option value="">Select Category</option>
				{{#rows}}
					<option value="">{{category_name}}</option>
				{{/rows}}
				
			</select> </td>
		</tr>
				 
		<tr>
			<td width="130px"><label>Brand:</label></td>
			<td> <select name="brands">
				<option value="">Select Brand</option>
					{{#rows}}
					<option value="">{{brandname}}</option>
					{{/rows}}	
			</select> </td>
		</tr>	 
		<tr>
			<td width="130px"><label for="description">Description</label>
			<td width="250px"><input type="text" name="description" title="Enter description" placeholder="Enter description" required>
			</td>
		</tr>
	</table>

	<button type="submit">Create Product</button>
	</form>
</div>

</fieldset>
</div>